{{#*inline "content"}}

<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/session/new">signin</a>
    </li>
  </ol>
</nav>

<h1>Signin</h1>
<form action="/sessions" method="POST">
    <!-- email -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" required>
    </div>
    <!-- password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <!-- submit -->
    <div class="form-group">
        <input type="submit" class="btn btn-secondary">
    </div>
</form>

<div class="alert alert-info" role="alert">
  You don't already have an account?
  <a href="/users/new" class="alert-link">Create one here</a> 
</div>
{{/inline}}
{{~> layouts/main~}}