{{#*inline "content"}}
<h1>Liste des recettes</h1>

<ul>
    {{#each this}}
        <li>
            <a href="/recipes/{{0.id}}">{{0.name}}</a>
            de
            <a href="/user/{{1.id}}">{{1.firstname}} {{1.lastname}}</a>
        </li>
    {{/each}}
</ul>

<a href="/recipes/new" class="btn btn-secondary">Créer une recette</a>

{{/inline}}

{{~> layouts/main~}}