{{#*inline "content"}}
<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/recipes">recipes</a>
    </li>
  </ol>
</nav>

<h1>Recipes</h1>

<ul>
    {{#each this}}
        <li>
            <a href="/recipes/{{0.id}}">{{0.name}}</a>
            de
            <a href="/users/{{1.id}}">{{1.firstname}} {{1.lastname}}</a>
        </li>
    {{/each}}
</ul>

<a href="/recipes/new" class="btn btn-secondary">Créer une recette</a>

{{/inline}}

{{~> layouts/main~}}