{{#*inline "content"}}
<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/recipes">recipes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        New recipe
    </li>
  </ol>
</nav>

<h1>New recipe</h1>
<form action="/recipes" method="POST">
    <!-- name -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    <input type="submit" class="btn btn-secondary">
</form>
{{/inline}}
{{~> layouts/main~}}