{{#*inline "content"}}
<h1>Edit user</h1>
<form action="/users/{{id}}" method="POST">
    <input type="hidden" name="_method" value="put" />
    <!-- firstname -->
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" name="firstname" value="{{firstname}}">
    </div>
    <!-- lastname -->
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" name="lastname" value="{{lastname}}">
    </div>
    <input type="submit" class="btn btn-secondary">
</form>
{{/inline}}
{{~> layouts/main~}}