{{#*inline "content"}}
<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/users">users</a>
    </li>
  </ol>
</nav>

<h1>Users</h1>
<ul>
    {{#each this.users}}
        <li><a href="/users/{{id}}">{{email}}</a></li>
    {{/each}}
</ul>

<a href="/users/new" class="btn btn-secondary">New user</a>

{{/inline}}

{{~> layouts/main~}}