{{#*inline "content"}}

<!-- breadcrumb -->
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">home</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="/users/new">signup</a>
    </li>
  </ol>
</nav>

<h1>Signup</h1>
<form action="/users" method="POST">
    <div class="row">
        <!-- email -->
        <div class="form-group col-md-12">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <!-- password -->
        <div class="form-group col-md-12">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <!-- firstname -->
        <div class="form-group col-md-6">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname">
        </div>
        <!-- lastname -->
        <div class="form-group col-md-6">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname">
        </div>
        <!-- submit -->
        <div class="form-group col-md-12">
            <input type="submit" class="btn btn-secondary">
        </div>
    </div>
</form>
<div class="alert alert-info" role="alert">
  You have an account?
  <a href="/sessions/new" class="alert-link">Signin here</a> 
</div>
{{/inline}}
{{~> layouts/main~}}